*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito Sans', sans-serif;
  color: rgb(188, 179, 150);
}
body{
	/*Gif of Titus Edwards blowing his signature Jellyfish shape with his vape.*/
  /*background: url('../images/logo.gif');*/
	margin: 0;
	padding: 0;
}
.vh100{
	margin: 0;
	height: 100vh;
	/*background: rgb(242, 242, 242, 0.09);*/
	margin-top: 70px;
}
.nav-left{
	float: right;
}

.navbar-custom.scrolled{
  background-color: rgb(2, 4, 10) !important;
}

/* change the background color */
.navbar-custom {
    background-color: rgb(68, 65, 53);
}
/* change the brand and text color */
.navbar-custom .navbar-brand{
  color: rgb(229, 215, 165);
  font-family: 'Monoton', cursive;
}
.navbar-custom .navbar-text {
    color: rgb(234, 238, 247);
    font-family: 'Roboto Condensed', sans-serif;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgb(234, 238, 247);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: rgb(237, 231, 213);
}

.breadcrumb-des{
	background: none;
}

#landing-about{
	background: url('../images/about.jpeg');
  background-size: cover;
  background-position: center;
	padding-top: 20vh;
	font-size: 5em;
	letter-spacing: 5px;
}

.jumbotron{
	background-color: #141414;
	padding-top: 90vh;
  margin-bottom: 0;
	border-radius: 0;
}

.fadeIn{
	animation-duration: 5s;
}
.zoomIn{
  animation-duration: 3s;
}
.zoomInUp{
  animation-duration: 3s;
}

#mission{
  margin: 50px 0;
	height: 100%;
	background-color:  rgb(71, 69, 62);
}

#vision{
  margin-bottom: 50px;
	height: 100%;
	background-color:  rgb(71, 69, 62);
}
.about-tags{
	font-weight: bold;
  letter-spacing: 5px;
}

#carousel {
  position: relative;
  height: 250px;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
}
#carousel div {
  position: absolute;
  transition: transform 1s, left 1s, opacity 1s, z-index 0s;
  opacity: 1;
}
#carousel div img {
  width: 400px;
  transition: width 1s;
}
#carousel div.hideLeft {
  left: 0%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}
#carousel div.hideLeft img {
  width: 200px;
}
#carousel div.hideRight {
  left: 100%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}
#carousel div.hideRight img {
  width: 200px;
}
#carousel div.prev {
  z-index: 5;
  left: 30%;
  transform: translateY(50px) translateX(-50%);
}
#carousel div.prev img {
  width: 300px;
}
#carousel div.prevLeftSecond {
  z-index: 4;
  left: 15%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}
#carousel div.prevLeftSecond img {
  width: 200px;
}
#carousel div.selected {
  z-index: 10;
  left: 50%;
  transform: translateY(0px) translateX(-50%);
}
#carousel div.next {
  z-index: 5;
  left: 70%;
  transform: translateY(50px) translateX(-50%);
}
#carousel div.next img {
  width: 300px;
}
#carousel div.nextRightSecond {
  z-index: 4;
  left: 85%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}
#carousel div.nextRightSecond img {
  width: 200px;
}

.buttons {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
}

#carl{
	margin-top: 100px;
	margin-bottom: 110px;
	padding: 0;
}

h2{
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
}

.c-cur{
	cursor: pointer;
}

.content{
  margin-top: 110px;
  padding: 50px 0;
  background-color:  rgba(71, 69, 62,0.99);
}

.gallery{
  margin-top: 40px;
  padding: 50px 0;
  background-color:  white;
}

.f-orm{
  padding: 50px;
  background-color:  rgba(71, 69, 62);
}

.marg{
  margin-top: 400px;
  margin-bottom: 0;
}

.marg-t{
  margin-top: 40px;
}
footer{
  color: rgb(63, 56, 32);
}

footer > a{
  color: rgb(63, 56, 32);
}
.card{
  background-color: black; 
}

.margin-b{
  margin-bottom: 10px;
}
.margin-l{
  margin-left: 0;
}

.letter-s{
  letter-spacing: 10px;
  font-weight: bold;
}